.vscode/**
.vscode-test/**
.github/**
src/**
node_modules/**
.gitignore
.git/**
*.map
*.ts
!*.d.ts
tsconfig.json
vitest.config.ts
_docs/**
.eslintrc.json
*.vsix
jest.config.js
tsconfig.test.json
coverage/
